<launch>

    <arg name="node_start_delay" default="2"/>
    <node pkg="igus_fruit_packaging" type="igus_communication.py" name="igus_communication" output="screen">
    </node>

    <node pkg="igus_fruit_packaging" type="igus_controller2.py" name="igus_controller" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
    </node>

    <arg name="param_fp" default="$(find zed_3D_detection)/params" />
    <arg name="figure_fp" default="$(find igus_fruit_packaging)/src/figures" />

    <node name="Bounding_Box_Visual" pkg="igus_fruit_packaging" type="visualization.py" output="screen">
        <param name="~param_fp" value="$(arg param_fp)"/>
        <param name="~figure_fp" value="$(arg figure_fp)"/>
    </node>

</launch>